.clients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  &__icon {
    width: 210px;
    height: 92px;
    fill: $iconColor;
    border: 1px solid $iconColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      fill: $mainDesignBlue;
      border-color: $mainDesignBlue;
    }
  }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__icon {
    width: 226px;
  }
}

/* Desktop */

@media screen and (min-width: 1200px) {
  .clients__icon {
    width: 170px;
  }
}

/*
.clients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;

  &__list {
    display: flex;
    gap: 30px;
  }

  &__icon {
    width: 170px;
    height: 92px;
    fill: $iconColor;
    border: 1px solid $iconColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      fill: $mainDesignBlue;
      border-color: $mainDesignBlue;
    }
  }
}
*/
