.footer {
  background-color: $secondaryBackgroundColor;
  padding: 60px 0px;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
  }
  &__address-info {
    color: $mainDesignWhite;
    line-height: 171%;
    font-style: normal;
    letter-spacing: 0.03em;
    margin-top: 20px;
  }
  &__contact-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    gap: 9px;
  }

  &__contact-item {
    font-style: normal;
    text-decoration: none;
    color: $secondaryTextColor;
    letter-spacing: 0.02em;
    display: flex;
    gap: 10px;
    justify-content: center;
    fill: currentColor;
  }

  &__join-box {
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 80px;
  }
  &__desc {
    color: $mainDesignWhite;
    font-size: 14px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__social-icon {
    fill: $mainDesignWhite;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    width: calc(100vw - 30px);
    max-width: 450px;
    height: 50px;
    padding-left: 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $mainDesignBlue;
    color: $mainDesignWhite;
    fill: $mainDesignWhite;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    gap: 24px;
  }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    &__items {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 60px;
      vertical-align: middle;
    }
    &__info {
      margin-right: 144px;
    }
  }
  .newsletter {
    &__input {
      width: 450px;
    }
  }
}

/* Desktop */

@media screen and (min-width: 1200px) {
  .footer {
    &__items {
      flex-direction: row;
      gap: 50px;
      align-items: baseline;
    }
    &__info {
      align-items: flex-start;
    }

    &__desc {
      margin-left: 0;
    }

    &__social-links {
      display: flex;
      gap: 10px;
    }
    &__social-icon {
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover {
        background-color: $mainDesignBlue;
      }
    }
    &__address-info {
      text-align: left;
    }

    &__contact-item {
      justify-content: flex-start;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
      color: $mainDesignBlue;
    }
  }

  .newsletter {
    flex-direction: row;
    gap: 12px;
    align-items: flex-end;

    &__form {
      align-items: flex-start;
    }
    &__input {
      width: 358px;
    }
  }
}
