.logo {
  text-decoration: none;

  &__mark {
    color: $mainDesignBlue;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0.03em;

    &--black {
      color: $mainDesignBlack;
    }

    &--white {
      color: $mainDesignWhite;
    }
  }
}
