.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  z-index: 4;
  width: 100%;
  max-width: 528px;
  height: 581px;
  background-color: $mainDesignWhite;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: visibility, opacity, transform;
  transition-duration: 300ms;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;

  &__title {
    color: $mainDesignBlack;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }
  &__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
  }

  &__backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
  &__closing-button {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
}
